<div class="container">

    <img class="group-img" src="assets/images/group-pic.jpg" alt="group photo" />
    
    <h1 class="title">FSE 4 presents Fidzulu, an e-commerce initiative by</h1>

    <div class="teams">
        <div class="team">
            <h1>Frontend</h1>
            <p>Shankar Mahadevan G</p>
            <p>Lalith K</p>
            <p>Dhanush Kumaar J</p>
            <p>Rohan Maheshwari</p>
            <p>Johanna Jegan</p>
            <p>Sowmya A</p>
            <p>Vaibhav Vohra</p>
        </div>
    
        <div class="team">
            <h1>Middle-Tier</h1>
            <p>Vishaka Mohan</p>
            <p>Shreya Venkatraman</p>
            <p>Aditi Balaji</p>
            <p>Rutvik Guduguntla</p>
            <p>Varsini Sathianantha</p>
            <p>Anu Lekshmi Jayakumar</p>
        </div>
    
        <div class="team">
            <h1>Backend</h1>
            <p *ngFor="let name of backendTeamMembers">{{name}}</p>
        </div>
    </div>

    
</div>