.footer-container{
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Fidelity Sans";
  margin: 0px 20px;
  text-decoration: none;
  color: var(--fidelity-green);
}
.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-logo-container{
    display: inline-block;
    color: #999;
    object-fit: contain;
    margin-left: 1em;
  color: var(--fidelity-green);
}
/* .right-container{
    display: inline;
    height: 100%;
} */


.copyright-text{
    color: #999;
    font-size: .875em;
    margin-right: 1em;
    float:right;
}
a{
    margin-left: 2%;
    color: #ddd;
    float:right;
    text-decoration: none;
}

a:hover {
    color:var(--fidelity-green);
}

#about {
    margin-right: 20px;
}

@media only screen and (max-width: 920px) {

    .mobile-hidden {
        display: none;
    }

}
