.footer-container{
    background-color: #1a1a1a;
  /*bottom: 0;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-logo-container{
    display: inline-block;
    color: #999;
    object-fit: contain;
    margin-left: 1em;
}
/* .right-container{
    display: inline;
    height: 100%;
} */
  

.copyright-text{
    color: #999;
    font-size: .875em;
    margin-right: 1em;
    float:right;
}
a{
    margin-left: 2%;
    color: #ddd;
    float:right;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#about {
    margin-right: 20px;
}

@media only screen and (max-width: 920px) {

    .mobile-hidden {
        display: none;
    }
    
}