<div class="navbar" >
    <div>
        <fa-icon [icon]="icons.faBars"></fa-icon>
    </div>
  <a class="title" routerLink="/">FidZulu</a>
    <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn nav-dropdown" id="dropdownBasic1" ngbDropdownToggle>
            Location
          {{country}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="changeCountry('India')" ngbDropdownItem >India</button>
            <button (click)="changeCountry('US')" ngbDropdownItem>US</button>
            <button (click)="changeCountry('SC')" ngbDropdownItem>SC</button>
        </div>
    </div>
    <div class="search-container" [ngClass]="onFocus ? 'search-focus': ''" >
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="category-dropdown" id="dropdownBasic2" ngbDropdownToggle>
                {{category}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="category = 'Bikes'" ngbDropdownItem >Bikes</button>
              <button (click)="category = 'Food'" ngbDropdownItem>Food</button>
              <button (click)="category = 'Toys'" ngbDropdownItem>Toys</button>
              <button (click)="category = 'Books'" ngbDropdownItem>Books</button>
              <button (click)="category = 'DVDs'" ngbDropdownItem>DVDs</button>
              <button (click)="category = 'Laptops'" ngbDropdownItem>Laptops</button>
            </div>
        </div>
        <input #searchInput class="search-input" placeholder="Search Fidzulu" (focus)="changeFocus(true)" (blur)="changeFocus(false)" />
        <button class="search-btn" (click)="searchKeyword"><fa-icon [icon]="icons.faMagnifyingGlass"></fa-icon></button>
    </div>
    <div class="nav-btns">
        <button class="nav-btn">
            Login
        </button>
        <button class="nav-btn">
            Cart
        </button>
    </div>
</div>
