.navbar {
  padding: 0px 15px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar-options > a{
  text-decoration: none;
  color:black;
}
#navbar-button{
  color: white;
}
#hamburger{
  color:white;
  cursor: pointer;
}
.title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Fidelity Sans";
  margin: 0px 20px;
  text-decoration: none;
  color: var(--fidelity-green);
}

.nav-dropdown {
  color: white;
  font-size: 16px;
  /*font-weight: bold;*/
  text-align: center;
}

/*.nav-dropdown:active {*/
/*  border-color: var(--fidelity-green);*/
/*  color: white;*/
/*}*/
.nav-dropdown:hover {
  color: var(--fidelity-green);
}

.nav-dropdown::after {
  display: none;
}

.nav-dropdown p {
  margin: 0;
}
#location-dropdown > button:hover{
  color:var(--fidelity-green)
}
.search-container {
  border: 2px solid var(--fidelity-green);
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-left: 10vw;
}

.category-dropdown {
  height: 30px;
  width: 70px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-btn {
  height: 30px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 10px;
}


.search-input {
  border: none;
  height: 30px;
  width: 350px;
  padding: 0px 10px;
}

.search-input:focus, .search-input:focus {
  outline: none;
}

.search-focus {
  border: 2px solid #293909;
}

.left-container {
  display: flex;
  align-items: center;
}

.nav-btns {
  margin-left: 10vw;
}

.nav-btn {
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  margin: 0px 15px;
}

.sidebar-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.sidebar-options p {
  margin: 0;
  font-size: 16px;
}

.mobile-sidebar {
  display: none;
}

.sidebar-options:hover {
  cursor: pointer;
}


@media only screen and (max-width: 920px) {

  .nav-btns {
    display: none;
  }

  .mobile-sidebar {
    display: flex;
    font-weight: bold;
  }

  .navbar {
    padding-bottom: 10px;
  }

  .left-container {
    width: 100%;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 600px) {
  .search-container {
    margin: 0;
    width: 100%;
  }

  .search-btn {
    width: 15%;
  }

  .d-inline-block {
    width: 30%;
  }

  .search-input {
    width: 55%;
  }


  .nav-dropdown {
    text-align: right;
  }

  .title {
    margin-left: 60px;
  }


}
