<div class="home-container">

  <ngb-carousel [interval]="3000">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="carousel-wrapper" [routerLink]="['/products', image.category]">
        <img src="assets/images/covers/{{image.name}}" [alt]="image.caption">
        <div class="caption carousel-caption-l" >Shop {{image.caption}}
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="similarProducts">
    <h3 class="heading">Trending Products</h3>
    <div class="container">
      <div class="row">
        <div class="card mb-3 border trending-product-card" *ngFor="let trendingProduct of trendingProducts">
          <div class="card-body">
            <img src="{{trendingProduct.image}}" class="product-card-image">
            <h5 class="card-title">{{trendingProduct.name}}</h5>
            <p class="card-text">{{ trendingProduct.price }}</p>
            <div class="similar-card-footer" class="d-flex justify-content-between">
              <button type="button" class="btn btn-success">+ Quick Add</button>
              <div class="stars">
                <p>4.3 <i class="fa fa-star" style="color:#568200"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>

  <div class="parallax"></div><br>
    <div class="category-container">
      <h3 class="heading">Categories</h3><br>
      <div class="row">
          <div [routerLink]="['/products', category.name]" class="card border" *ngFor="let category of categories">
            <div class="overlay">
              <img class="category-card-image" src="{{category.image}}">
              <!-- <h5 class="card-title">{{category.name}}</h5> -->
                <div class="catName">{{category.name}}</div>
            </div>
          </div>
        </div>
    </div>
    <br>

</div>
