.carousel-wrapper{
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    margin: auto;
    position: relative;
    text-align: center;
}
.caption{
    position: absolute;
    left: 100px;
    bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
}
.carousel-wrapper img{
    width: 100% ;
    height: fit-content;
    object-fit: cover;
    overflow: hidden;
}

.heading {
  text-align: center;
}

.trending-product-card {
  margin: 20px;
}

.category-container {
  margin-top: 20px;
  align-items:center;
}

.card {
  width: 300px;
  border: 2px solid #000;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.border {
  border: 5px solid black;
}

.parallax {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/178/440/original/vector-modern-abstract-offer-discount-advertising-banner-design-templat.jpg");

  min-height: 600px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catName{
    position: absolute;
    Bottom: 8px;
    left: 16px;
    font-weight: bold;
    color:white;
}
.overlay {
  box-shadow: "0px 4px 4px 0px #00000040,inset 0 0 0 1000px rgba(0,0,0,.5)"
}


