.carousel-wrapper{
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    margin: auto;
    position: relative;
    text-align: center;
}
.caption{
    position: absolute;
    left: 100px;
    bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
}
.carousel-wrapper img{
    width: 100% ;
    height: fit-content;
    object-fit: cover;
    overflow: hidden;
}