.carousel-wrapper{
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    margin: auto;
    position: relative;
    text-align: center;
}
.caption{
    position: absolute;
    left: 100px;
    bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
}
.carousel-wrapper img{
    width: 100% ;
    height: fit-content;
    object-fit: cover;
    overflow: hidden;
}

.heading {
  text-align: center;
}

.trending-product-card {
  margin: 20px;
}

.category-container {
  margin-top: 20px;
}

.card {
  width: 300px;
  border: 2px solid #000;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.border {
  border: 5px solid black;
}

