<div class="product-details row">
  <div class="product-img-thumbnail col-lg-6 offset-1">
    <img [src]="product.img_thumbnail">
  </div>
  <div class="product-details-container col-lg-6">
    <div class="product-name row">
      <div class="col-lg-6"><h1 id="product-name">{{product.product_name}}</h1></div>
      <div class="review-stars col-lg-6">
        <span id="review-stars-text">4 (1,683)</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star unchecked"></span>
      </div>
    </div>
    <div class="price">
      <p><span class="text-muted">M.R.P: </span><s>Rs.{{get_mrp() | number:'.2'}}</s></p>
      <p><span class="text-muted">Price: </span><span id="final-price">Rs. {{get_final_price()  | number:'.2'}}</span>
      </p>
      <p><span class="text-muted">You Save: </span><span id="you-save">Rs. {{get_you_save() | number:'.2'}}
        (10%)</span></p>
    </div>
    <div class="description">
      <h2>About this item</h2>
      <p>{{product.product_description}}</p>
    </div>
    <div class="contact-placeholder">
      <p><span class="fa fa-commenting-o" style="margin-right: 5px"></span>Got any questions? <span
        style="text-decoration:underline">Contact us</span></p>
      <p><span class="fa fa-cube" style="margin-right: 5px"></span>Free shipping over $150</p>
      <p><span class="fa fa-share-square-o" style="margin-right: 5px"></span>Share</p>
    </div>
    <hr>
  </div>
  <!--  review-section-->
  <div class="review-container">
    <h3 class="heading">Don't take our word for it</h3>
    <div class="row justify-content-around">
      <div class="col-lg-2 col-md-6 col-xs-12" *ngFor="let review of reviews">
        <div class="card mb-3 border">
          <div class="card-body">
            <p style="float:right; font-size:small; color:grey">{{review.date}}</p>
            <div class="rating">
              <ng-container *ngFor="let star of getStarArray(review.stars)">
                <i class="fa fa-star"></i>
              </ng-container>
            </div>
            <h5 class="card-title">{{review.name}}</h5>
            <p class="card-text">{{ review.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br><br>
  <div class="similarProducts">
    <br><br>
    <h3 class="heading">You may also like</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let similarProduct of similarProducts">
          <div class="card mb-3 border similar-product-card">
            <div class="card-body">
              <img src="{{similarProduct.image}}" style="height:150px;width:260px">
              <h5 class="card-title">{{similarProduct.name}}</h5>
              <p class="card-text">{{ similarProduct.price }}</p>
              <div class="similar-card-footer" class="d-flex justify-content-between">
                <button type="button" class="btn btn-success">+ Quick Add</button>
                <div class="stars">
                  <p>4.3 <i class="fa fa-star" style="color:#568200"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
