@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import '~@fortawesome/fontawesome-free/css/all.css';*/

.product-details {
  background-color: ivory;
  position: relative;
}

.product-img-thumbnail {
  width: 300px;
  translate: -50px 50px;
}

.product-img-thumbnail img {
  height: 50%;
}

.product-details-container {
  margin-left: 100px;
}

#product-name {
  font-family: "Fidelity Sans";
}

.checked {
  color: #f5de07;
  font-size: 20px;
}

.unchecked {
  font-size: 20px;
}

.fa-star {
  margin-left: 5px;
}

#review-stars-text {
  margin-right: 5px;
}

.price {
  margin: 20px 20px 20px 40px;
}

#final-price, #you-save {
  color: #d40505;
}

#final-price {
  font-size: 20px;
}

#you-save {
  font-size: 18px;
}

.description {
  margin-top: 30px;
}

.description p {
  margin-left: 10px;
  width: 50%;
  text-align: justify;
}

.contact-placeholder {
  margin-top: 50px;
}


.rating {
  color: #568200;
}

.card {
  width: 300px;
  border: 2px solid #000;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.border {
  border: 5px solid black;
}

.heading {
  text-align: center;
}

.similarProducts {
  background-color: #f3f3f3;
}

.review-container {
  margin-top: 20px;
}

.similar-product-card {
  margin: 20px;
}
