/* You can add global styles to this file, and also import other style files */
@import url("assets/fonts.css");

.carousel{
    width: 100vw;
    margin: auto;
}
.carousel-control-prev{
    width: 5vw;
}
.carousel-control-prev:hover{
    background-color: #3c3e38;
}
.carousel-control-next{
    width: 5vw;
}
.carousel-control-next:hover{
    background-color: #3c3e38;
}
.carousel-indicators button{
    background-color: #568200;
    color: #568200;
}
