/* styles.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.product-card {
    margin-top: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-rating {
    color: #f1c40f; /* Yellow color for stars */
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e74c3c; /* Red color for price */
}
