<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Card</title>
</head>
<body>
    <div class="container">
        <div class="card product-card">
            <div class="row">
                <div class="col-md-4">
                    <img src="product-image.jpg" class="card-img" alt="Product Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title product-name">Product Name</h5>

                                                <!-- product-card.component.html -->

                        <div class="product-card">
                            <!-- ... Other product card content ... -->
                            <div class="product-rating">
                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                                <span class="fa" [ngClass]="{'fa-star': star <= rating, 'fa-star-half-alt': star - 0.5 === rating, 'fa-star-o': star > rating}"></span>
                            </ng-container>
                            </div>
                            <!-- ... Other product card content ... -->
                        </div>
                        
  
  
                        <p class="card-text product-price">$19.99</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
